<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Suite" parallel="tests" thread-count="1"
       data-provider-thread-count="1">
    <listeners>
        <listener class-name="challengePom.LumaTest" />
    </listeners>
    <test thread-count="1" name="Tests on API Calls" enabled="true"
          parallel="methods">
        <classes>
            <class name="challengePom.LumaTest" />
        </classes>
    </test>
</suite>